@using WebPortal.Areas.Common.Models
@model IEnumerable<ProgramsViewModel>

<h3>Программы</h3>

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5>Содержимое базы данных</h5>
        </div>
        <div class="card-body">
            @Html.Partial("Partial/HorizontalType", Model)
        </div>
    </div>
</div>
